:root {
    --backgr-clr: rgb(66, 65, 65);
}
* {
    outline: solid red 1px;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    
}

body {
    background-color: gray;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    flex:1;
}

.header {
    background-color: var(--backgr-clr);
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: white; 
    flex: 0;
}

.footer {
    background-color: var(--backgr-clr);
    display: flex;
    height: auto;
    justify-content: center;
    color: white;
    flex: 0;
}

.main {
    flex: 1;
    display: flex;
}

.left {
    width: 25%;
    background-color: rgb(168, 166, 166)
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons > button {
    flex: 0 0 auto;
    width: auto;
    padding: 10px;
    width: 6rem;
}

.right {
    width: 75%;
    background-color: rgb(218, 218, 218);
    padding: 20px;
}

.title {
    margin: 20px 0;
}

.right-content {
    min-height: 500px;
    display: flex;
    flex-direction: column;
}

.right-content > * {
    margin: 10px 0;
}

.right-content > *:hover {
    background-color: red;
}

.element {
    display: flex;
    justify-content: space-between;
}

.element > * {
    display: flex;
    gap: 10px;
}

.add-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.add-buttons {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.add-buttons > * {
    width: 100%;
}

.menu-add-button {
    background-color: rgb(39, 175, 39);
}

.menu-remove-button {
    background-color: rgb(202, 22, 22);
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
/* .project > button{

} */

.card-container {
    margin: 10px;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-add-cont {
    margin: 20px 0;
}